body {
	text-align: center;
	background: url("photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #faebd7;
}
#quoteDisplay {
	font-family: Dancing Script;
	padding-bottom: 25px;
	font-size: 1.5em;
}
h1 {
	font-family: Oswald;
}
.btn {
	color: black;
}